doctype html
html(lang='en')
  include common/head.pug
  include common/navbar.pug
  +head("Starter MVP")
  body
    h1 Lead
    p 
      span #{lead.email}
      |
      |
      tr
        td
          a(href="/lead/" + lead.id + "/edit") Edit
          form(action="/lead/" + lead.id + "/delete", method="POST")
        td
          button(type="submit").btn.btn-primary Delete
  include common/footer.pug
  +footer()